.root {
  display: flex;
  align-items: stretch;
  height: 80px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid var(--blue);
  border-radius: 3px;
  box-shadow: 1px 1px 1px var(--blue);
  overflow: hidden;
}

.course {
  flex-grow: 1;
  padding-right: 20px;
  border-right: 1px solid var(--color-aluminium-gray);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h5 {
  color: var(--blue);
  margin: 0;
}

.duration {
  color: var(--info);
  font-weight: bold;
  margin-right: 20px;
}

.creation-date {
  color: var(--info);
  font-weight: bold;
}

.description {
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100px;
  margin-left: 20px;
}

.actions button {
  display: flex;
  align-items: center;
  height: 30px;
}

.actions button .icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: var(--color-paper-white);
}

.actions button p {
  margin: 0;
}
