/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
}

:root {
  --color-paper-white: rgb(245, 245, 245);
  --color-aluminium-gray: rgb(204, 204, 204);
}
